<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
			integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="/script/auth/login.js" type="module"></script>
		<title>Login</title>
	</head>
	<body>
		<h1>Login!</h1>

		<form>
			<div>
				<label for="username">Username: </label>
				<input type="text" id="username" name="username" />
			</div>
			<div>
				<label for="password">Password: </label>
				<input type="password" id="password" name="password" />
			</div>

			<button>Log in</button>
		</form>
	</body>
</html>
