@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
button {
  unset:all
} */

body {
  background-color: rgb(255, 240, 208);
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(255, 196, 68);
}

.container {
  display: flex;
}

nav.container {
  height: 70px;
  align-items: center;
  padding-left: 2rem;
  gap: 2rem;
  background-color: rgb(31, 15, 4);
  color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 100;
}

ul.container {
  gap: 2rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

form {
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: fixed;
  margin-top: 50px;
  padding: 14px;
}

form input {
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}
.error {
  color: red;
}
